.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url("../images/background_header.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__title {
  display: flex;
  flex-direction: column;
  max-width: 709px;
  margin-left: 80px;
  margin-top: 183px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 0px;
  margin-left: 80px;
}

.header__paragraph {
  font-weight: 500;
  color: #838383;
}
